.footer-bar {
    height: 5em;
    background-color: #BD632F;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-bar p {
    font-size: large;
    margin-left: 1em;
    color: #273E47;
}

.fab, .footer-bar p {
    margin-right: .75em;
}

.footer-bar a {
    color: #273E47;
}
.footer-bar a:hover {
    color: #D8C99B;
}